<div class="row">
    <div class="col-md-12">
        <br class="clearfix" />
        <a href="#" routerLink="/create" class="btn btn-primary">Add Image</a>
        <br class="clearfix" />
        <br class="clearfix" />
    </div>
</div>
<div class='row'>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Search</label>
            <div class="col-md-10">
                <!-- <input type="search" [(ngModel)]="listFilter" #filterList placeholder="Type to Search Title" class="form-control"
                 [ngModelOptions]="{updateOn: 'blur'}" 
                 /> -->
                 <input type="search" [(ngModel)]="listFilter" #filterList placeholder="Type to Search Title" class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let i of photos | filterBy: listFilter">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{i.Title}}</h3>
            </div>
            <div class="panel-body" style="height: 325px; overflow: auto;">
                <img src="{{i.ImageUrl}}" class="img-thumbnail" />
                <p>
                    Created: {{ i.DateCreated | date }}
                    <span *ngIf="i.DateModified">
                        Modified: {{i.DateModified | date }}
                    </span>
                </p>
                <p *ngIf="i.Description">
                    <i>{{i.Description | abbreviated : 25 }}</i>
                </p>
            </div>
            <div class="panel-footer">
                <p>
                    <a class="btn btn-info" routerLink="/edit/{{i.id}}">
                        Edit
                    </a>
                    <button type="button" class="btn btn-danger" (click)="removePhoto(i)">
                        Delete
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>